.sidebar {
  flex: 0.37;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f2f2f2;
}

.sidebar-header {
  display: flex;
  padding: 10px 15px 10px 15px;
  background-color: #f0f2f5;
  justify-content: space-between;
}

.sidebar-header-right {
  display: flex;
  color: #54656f;
  min-width: 10vw;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header-right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar-search {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #f2f2f2;
}

.sidebar-search-container {
  display: flex;
  width: 100%;
  height: 35px;
  color: #54656f;
  padding-left: 10px;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f0f2f5;
}

.sidebar-search-container > input {
  border: none;
  width: 100%;
  background-color: #f0f2f5;
  margin-left: 10px;
}

.sidebar-search-container > input:focus {
  outline: none;
}

.sidebar-chats {
  flex: 1;
}
